
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f5f5f5;
    line-height: 1.6;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 20px 50px;
    color: white;
}


.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

/* Hero */
.hero{
    height: 80vh;
    /* background: linear-gradient(to right,#667eea,#764ba2); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.hero h1{
    font-size: 50px;
}

.hero p{
    margin: 15px 0;
    font-size: 20px;
}

button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #764ba2;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* Skills */
.services{
    padding: 60px 20px;
    text-align: center;
}

.our-services h2{
    margin-bottom: 30px;
    font-size: 35px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 25px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 20px 10px rgba(0,0,0,0.1);
}

.card:hover{
    color: blueviolet;
}

/* About */
.about{
    padding: 60px 20px;
    text-align: center;
    
}

.about h2{
    font-size: 35px;
}

.container{
    
    
    align-items: center;
    /* justify-content: center; */
    /* gap: px;
    flex-wrap: wrap; */
}


/* Footer */
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.socials i{
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    color: white;
}