body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:bisque;
    padding : 15px 40px;

}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav{
    display:  flex;
    gap : 20px;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav a:hover{
    color: blueviolet;
}

.hero{
    height: 80vh;
    display: flex;
    /* flex-direction: ; */
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(0, 161, 153);
    text-align: center;
    height :200px;
    padding: 200px;

}
.right h1{
    font-size: 36px;
    color: azure;
    margin-bottom: -15px;
    /* margin : 50px; */
}
    

.right p{
    font-size: 20px;
    color: rgb(227, 178, 178);
    margin-bottom: 20px;
}

.right button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    color:  white;
    font-size: 15px;
    border-radius: 30px;

}

.right button:hover{
    background-color: rgb(162, 146, 177);
    color: rgb(89, 54, 122);
    transform: scale(1.1);
}

.left img{
    display: flex;
    height:300px;
    width: 300px;
    justify-content:space-between ;
    border-radius: 70px;
}